
body {
    background-color: #FFFFFF;
    /* background: url("https://images.pexels.com/photos/12659294/pexels-photo-12659294.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}
